<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<base th:href="@{/}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>角色列表</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

    <link href="js/iCheck/skins/minimal/green.css" rel="stylesheet">

    <link href="js/iCheck/skins/square/green.css" rel="stylesheet">

    <link href="js/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function jumpPage(pageNo) {
            window.location.href = "http://localhost:8080/waste_product/role/list?pageNo=" + pageNo;
        }
        function deleteRole(roleId){
            $.ajax({
                url: "http://localhost:8080/waste_product/role/delete/" + roleId,
                type: "delete",
                success:function (){
                    location.reload();
                }
            })
        }
        function authorized(roleId,roleName) {
            $("#roleName").text(roleName)
            $("#roleId").val(roleId)
            $.ajax({
                url: "http://localhost:8080/waste_product/menu/queryRoleMenu/" + roleId,
                type: "get",
                success: function (data) {
                    console.log(data)
                    var str = "";
                    var allMenu = data.allMenu;
                    var roleMenu = data.roleMenu;
                    var ids = new Array();
                    for (let i = 0; i < roleMenu.length; i++) {
                        ids.push(roleMenu[i].id);
                    }
                    // for (let j = 0; j < allMenu.length; j++) {
                    //     if(ids.includes(allMenu[j].id)){
                    //         str += '<div class="single-row"><div class="radio"><input type="checkbox" name="checkedMenu" checked value="'+allMenu[j].id+'"><label>'+allMenu[j].menu+'</label></div></div>'
                    //     }else {
                    //         str += '<div class="single-row"><div class="radio"><input type="checkbox" name="checkedMenu" value="'+allMenu[j].id+'"><label>'+allMenu[j].menu+'</label></div></div>'
                    //     }
                    // }

                    // $("#menuCheckboxList").html(str);

                    // <optgroup label="NFC EAST">
                    //     <option>Dallas Cowboys</option>
                    //     <option>New York Giants</option>
                    //     <option>Philadelphia Eagles</option>
                    //     <option>Washington Redskins</option>
                    // </optgroup>

                    for (let i = 0; i < allMenu.length; i++) {

                    }

                }
            })
        }

        //获取checkbox选中的checkBox的元素
        function getCheckedMenu(){
            var checkedObject = $('input:checkbox[name="checkedMenu"]:checked');
            var ids = [];
            for (var i = 0; i < checkedObject.length; i ++) {
                ids.push(checkedObject[i].value);
            }
            var roleId = $("#roleId").val();
            console.log(roleId)
            console.log(ids)
            $.ajax({
                url: "http://localhost:8080/waste_product/role/authorized",
                type: "post",
                data:{roleId:roleId,ids:ids},
                success:function (msg){
                    console.log(msg)
                    location.reload();
                }
            })
        }
    </script>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="client_index.html"><img src="images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="client_index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->
        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <nav th:include="common/sidebar :: sidebar"></nav>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--notification menu start -->
            <nav th:include="common/header :: notification-info"></nav>
            <!--notification menu end -->
        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                角色列表
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            角色列表
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>角色名称</th>
                                        <th>备注</th>
                                        <th>状态</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="role : ${rolePageInfo.list}">
                                        <td th:text="${role.id}"></td>
                                        <td th:text="${role.rolename}"></td>
                                        <td th:text="${role.remark}">Win 95+</td>
                                        <td>
                                            <span th:if="${role.status == 1}" class="label label-success label-mini">AVAIL</span>
                                            <span th:if="${role.status == 0}"
                                                  class="label label-danger label-mini">N/A</span>
                                        </td>
                                        <td th:text="${#dates.format(role.createTime,'yyyy-MM-dd HH:mm:ss')}">Win 95+
                                        </td>
                                        <td>
                                            <button class="btn btn-info" type="button" data-toggle="modal"
                                                    href="#myModal1" th:onclick="authorized([[${role.id}]],[[${role.rolename}]])">授权
                                            </button>
                                            <button class="btn btn-danger" type="button" th:onclick="'deleteRole('+${role.id}+')'">删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="dataTables_paginate paging_bootstrap pagination">
                                    <ul>
                                        <li>
                                            <a th:style="${!rolePageInfo.hasPreviousPage} ? 'pointer-events: none;' : '' "
                                               href="javascript:void(0);"
                                               th:onclick="'jumpPage('+${rolePageInfo.pageNum - 1}+')'">上一页</a></li>
                                        <li class="active"><a href="javascript:void(0);"
                                                              th:text="${rolePageInfo.pageNum}"></a></li>
                                        <li><a th:style="${!rolePageInfo.hasNextPage} ? 'pointer-events: none;' : '' "
                                               th:onclick="'jumpPage('+${rolePageInfo.pageNum + 1}+')'">下一页</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">授权</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal bucket-form" method="post">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">角色</label>
                                                <div class="col-sm-9" style="margin-top: 5px;">
                                                    <span style="margin-left: 20px;font-weight: 700;font-size: 20px;" id="roleName"></span>
                                                    <input type="hidden" id="roleId">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">权限</label>
                                                <div class="col-sm-9 icheck minimal" id="menuCheckboxList">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">权限</label>

                                                <div class="col-md-9">
                                                    <select multiple="multiple" class="multi-select" id="my_multi_select2"
                                                            name="my_multi_select2[]">
                                                        <optgroup label="NFC EAST">
                                                            <option>Dallas Cowboys</option>
                                                            <option>New York Giants</option>
                                                            <option>Philadelphia Eagles</option>
                                                            <option>Washington Redskins</option>
                                                        </optgroup>
                                                        <optgroup label="NFC NORTH">
                                                            <option>Chicago Bears</option>
                                                            <option>Detroit Lions</option>
                                                            <option>Green Bay Packers</option>
                                                            <option>Minnesota Vikings</option>
                                                        </optgroup>
                                                        <optgroup label="NFC SOUTH">
                                                            <option>Atlanta Falcons</option>
                                                            <option>Carolina Panthers</option>
                                                            <option>New Orleans Saints</option>
                                                            <option>Tampa Bay Buccaneers</option>
                                                        </optgroup>
                                                        <optgroup label="NFC WEST">
                                                            <option>Arizona Cardinals</option>
                                                            <option>St. Louis Rams</option>
                                                            <option>San Francisco 49ers</option>
                                                            <option>Seattle Seahawks</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-primary" type="button" onclick="getCheckedMenu()">提交
                                        </button>
                                        <button data-dismiss="modal" class="btn btn-primary" type="button">关闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal -->
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--<script src="js/dynamic_table_init.js"></script>-->
<!--common scripts for all pages-->
<script src="js/scripts.js"></script>
<!--icheck -->
<script src="js/iCheck/jquery.icheck.js"></script>
<script src="js/icheck-init.js"></script>

</body>
</html>
