<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
    <meta charset="UTF-8">
    <title>添加废料信息</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">


    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet">
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="client_index.html"><img src="images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="client_index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->
        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <nav th:include="common/sidebar :: sidebar"></nav>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--notification menu start -->
            <nav th:include="common/header :: notification-info"></nav>
            <!--notification menu end -->
        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                废料管理
            </h3>
        </div>
        <!-- page heading end-->

        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    添加废料信息
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="cmxform form-horizontal adminex-form" id="signupForm" method="post"
                              th:action="@{waste_info/insertWaste}" novalidate="novalidate">
                            <!-- 产生批次编码 -->
                            <div class="form-group ">
                                <label for="batch_code" class="control-label col-lg-2">产生批次编码</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="batch_code" name="batch_code" type="text" required>
                                </div>
                            </div>
                            <!-- 废物名称 -->
                            <div class="form-group ">
                                <label for="waste_name" class="control-label col-lg-2">废物名称</label>
                                <div class="col-lg-10">
                                    <input class="" id="waste_name" name="waste_name" type="text" required>
                                </div>
                            </div>
                            <!-- 产生数量 -->
                            <div class="form-group ">
                                <label for="amount" class="control-label col-lg-2">产生数量</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="amount" name="amount" type="text" required>
                                </div>
                            </div>
                            <!-- 计量单位 -->
                            <div class="form-group ">
                                <label for="measure" class="control-label col-lg-2">计量单位</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="measure" name="measure" type="text" required>
                                </div>
                            </div>
                            <!-- 废物来源(公司) -->
                            <div class="form-group ">
                                <label for="source_enterprise" class="control-label col-lg-2">废物来源(公司)</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="source_enterprise" name="source_enterprise" type="text" required>
                                </div>
                            </div>
                            <!-- 废物来源(车间) -->
                            <div class="form-group ">
                                <label for="source_workshop" class="control-label col-lg-2">废物来源(车间)</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="source_workshop" name="source_workshop" type="text" required>
                                </div>
                            </div>
                            <!-- 废物来源(机器) -->
                            <div class="form-group ">
                                <label for="source_machine" class="control-label col-lg-2">废物来源(机器)</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="source_machine" name="source_machine" type="text" required>
                                </div>
                            </div>
                            <!-- 废物特性 -->
                            <div class="form-group ">
                                <label for="feature" class="control-label col-lg-2">废物特性</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="feature" name="feature" type="text" required>
                                </div>
                            </div>
                            <!-- 经办人 -->
                            <div class="form-group ">
                                <label for="operator" class="control-label col-lg-2">经办人</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="operator" name="operator" type="text" required>
                                </div>
                            </div>
                            <input class="btn btn-primary" type="submit" value="保存"/>
                            <button class="btn btn-default" type="button" th:onclick="back()">返回</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        <!--footer section start-->
        <footer>
            2023 © AdminEx by HuiKeo
        </footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>


<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--<script type="text/javascript" src="js/jquery.validate.min.js"></script>-->
<script src="js/validation-init.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<script>
    function back() {
        location.href = "http://localhost:8080/waste_product/waste_info/list";
    }
</script>


</body>
</html>