<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "http://localhost:8080/waste_product/getMenu",
                type: "GET",
                async:false,
                dataType:"json",
                success: function (data) {
                    var str = '';
                    for (let i = 0; i < data.length; i++) {
                        str += "<li class='menu-list'><a href='#'><i class='fa fa-th-list'></i><span>" + data[i].menu.menu +"</span></a>"
                        str += "<ul class='sub-menu-list'>"
                        for (let j = 0; j < data[i].menuList.length; j++) {
                            str += "<li><a href=" + data[i].menuList[j].path + ">" + data[i].menuList[j].menu + "</a></li>"
                        }
                        str += "</ul>"
                        str += "</li>"
                    }
                    console.log(str)
                    $("#menuList").append(str);

                    menuClickEvent();
                }
            })
        })

        function menuClickEvent(){
            jQuery('.menu-list > a').click(function() {

                var parent = jQuery(this).parent();
                var sub = parent.find('> ul');

                if(!jQuery('body').hasClass('left-side-collapsed')) {
                    if(sub.is(':visible')) {
                        sub.slideUp(200, function(){
                            parent.removeClass('nav-active');
                            jQuery('.main-content').css({height: ''});
                            mainContentHeightAdjust();
                        });
                    } else {
                        visibleSubMenuClose();
                        parent.addClass('nav-active');
                        sub.slideDown(200, function(){
                            mainContentHeightAdjust();
                        });
                    }
                }
                return false;
            });
        }

        function visibleSubMenuClose() {
            jQuery('.menu-list').each(function() {
                var t = jQuery(this);
                if(t.hasClass('nav-active')) {
                    t.find('> ul').slideUp(200, function(){
                        t.removeClass('nav-active');
                    });
                }
            });
        }

        function mainContentHeightAdjust() {
            // Adjust main content height
            var docHeight = jQuery(document).height();
            if(docHeight > jQuery('.main-content').height())
                jQuery('.main-content').height(docHeight);
        }
    </script>
    <!--sidebar nav start-->
    <ul class="nav nav-pills nav-stacked custom-nav" id="menuList">
        <li class="menu-list nav-active"><a href="#"><i class="fa fa-home"></i> <span>固废</span></a>
            <ul class="sub-menu-list">
                <li><a href="#">主页</a></li>
            </ul>
        </li>

        <li><a href="logout"><i class="fa fa-sign-in"></i><span>退出登录</span></a></li>
    </ul>
    <!--sidebar nav end-->
</div>
</body>
</html>