<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.WasteOutputMapper">
  <resultMap id="BaseResultMap" type="com.it.pojo.WasteOutput">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="waste_id" jdbcType="INTEGER" property="wasteId" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="output_date" jdbcType="DATE" property="outputDate" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="measure" jdbcType="VARCHAR" property="measure" />
    <result column="handler" jdbcType="VARCHAR" property="handler" />
    <result column="waste_flow_type" jdbcType="VARCHAR" property="wasteFlowType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="isdeleted" jdbcType="INTEGER" property="isdeleted" />
  </resultMap>


</mapper>